In [19]:
from pyspark.sql.functions import hour,minute,second,col,avg,when

import pyspark.sql.functions as sql_functions
from pyspark.sql import SQLContext
import datetime
sqlContext = SQLContext(sc)

In [8]:
df = sqlContext.read.csv("hdfs://localhost:54310/user/hive/warehouse/log_data/log_data.csv",header = True, inferSchema = True)

In [9]:
df.show(8)

+--------------------+-------------------+-------------------+-------------------+-------------------+
|           user_name|          idle_time|      working_hours|         start_time|           end_time|
+--------------------+-------------------+-------------------+-------------------+-------------------+
|  sahil24c@gmail.com|2019-10-24 05:05:00|2019-10-24 05:50:00|2019-10-24 08:30:02|2019-10-24 19:25:02|
|magadum.iranna@gm...|2019-10-24 02:15:00|2019-10-24 08:39:59|2019-10-24 08:30:02|2019-10-24 19:25:01|
|  yathink3@gmail.com|2019-10-24 01:30:00|2019-10-24 09:24:59|2019-10-24 08:30:02|2019-10-24 19:25:01|
|  shelkeva@gmail.com|2019-10-24 00:30:00|2019-10-24 09:10:01|2019-10-24 08:45:01|2019-10-24 18:25:02|
|puruissimple@gmai...|2019-10-24 03:15:00|2019-10-24 07:19:59|2019-10-24 08:50:02|2019-10-24 19:25:01|
|sangita.awaghad19...|2019-10-24 01:55:00|2019-10-24 08:40:00|2019-10-24 08:50:01|2019-10-24 19:25:01|
|vaishusawant143@g...|2019-10-24 00:35:00|2019-10-24 09:55:00|2019-10-24 08:55:01|2019-10-24 19:25:01|
|     you@example.com|2019-10-24 02:35:00|2019-10-24 08:04:59|2019-10-24 08:45:02|2019-10-24 19:25:01|
+--------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 8 rows

In [36]:
start_time1 = df.filter(sql_functions.col('start_time') > '2019-10-24 09:30:02')
start_time1.show()

+--------------------+-------------------+-------------------+-------------------+-------------------+
|           user_name|          idle_time|      working_hours|         start_time|           end_time|
+--------------------+-------------------+-------------------+-------------------+-------------------+
|  rr582619@gmail.con|2019-10-24 00:00:00|2019-10-24 09:50:00|2019-10-24 09:35:01|2019-10-24 19:25:01|
| addyp1911@gmail.com|2019-10-24 03:10:00|2019-10-24 06:40:00|2019-10-24 09:35:02|2019-10-24 19:25:02|
|rohitsarate1027@g...|2019-10-24 00:00:00|2019-10-24 09:50:01|2019-10-24 09:35:01|2019-10-24 19:25:02|
|dipakalagate1991@...|2019-10-24 03:10:00|2019-10-24 05:15:01|2019-10-24 09:35:01|2019-10-24 18:00:02|
|shibadattanayak@g...|2019-10-24 00:00:00|2019-10-24 09:45:01|2019-10-24 09:35:01|2019-10-24 19:20:02|
|durganath123@outl...|2019-10-24 01:15:00|2019-10-24 08:29:59|2019-10-24 09:40:02|2019-10-24 19:25:01|
|vaibhavkhadke@gma...|2019-10-24 00:00:00|2019-10-24 09:39:59|2019-10-24 09:45:02|2019-10-24 19:25:01|
|gaikwadr576@gmail...|2019-10-24 03:05:00|2019-10-24 06:30:00|2019-10-24 09:50:01|2019-10-24 19:25:01|
|kalyani24deobhank...|2019-10-24 01:30:00|2019-10-24 08:05:00|2019-10-24 09:50:01|2019-10-24 19:25:01|
|dilipsoni199566@g...|2019-10-24 00:55:00|2019-10-24 08:40:01|2019-10-24 09:50:01|2019-10-24 19:25:02|
|surajwarbhuvan192...|2019-10-24 00:30:00|2019-10-24 09:00:00|2019-10-24 09:55:01|2019-10-24 19:25:01|
|tekina.makin@gmai...|2019-10-24 09:25:00|2019-10-24 00:10:00|2019-10-24 09:50:01|2019-10-24 19:25:01|
|priyankagandhi250...|2019-10-24 00:25:00|2019-10-24 09:15:00|2019-10-24 09:45:01|2019-10-24 19:25:01|
|mishrasushil889@g...|2019-10-24 03:30:00|2019-10-24 05:59:59|2019-10-24 09:55:02|2019-10-24 19:25:01|
| blsonalib@gmail.com|2019-10-24 02:35:00|2019-10-24 07:05:00|2019-10-24 09:40:01|2019-10-24 19:20:01|
|manoj.ks.24.mk@gm...|2019-10-24 00:00:00|2019-10-24 09:05:10|2019-10-24 09:40:01|2019-10-24 18:45:11|
|hakepratiksha55@g...|2019-10-24 09:25:00|2019-10-24 00:05:00|2019-10-24 09:55:01|2019-10-24 19:25:01|
|vaibhavpratihar17...|2019-10-24 02:50:00|2019-10-24 06:30:00|2019-10-24 10:00:01|2019-10-24 19:20:01|
|rawatabhishek2012...|2019-10-24 00:00:00|2019-10-24 09:20:00|2019-10-24 10:00:01|2019-10-24 19:20:01|
|indrajeetgajbhiye...|2019-10-24 00:00:00|2019-10-24 08:50:00|2019-10-24 09:55:01|2019-10-24 18:45:01|
+--------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [39]:
j=start_time1.select('user_name','start_time')
j.show()

+--------------------+-------------------+
|           user_name|         start_time|
+--------------------+-------------------+
|  rr582619@gmail.con|2019-10-24 09:35:01|
| addyp1911@gmail.com|2019-10-24 09:35:02|
|rohitsarate1027@g...|2019-10-24 09:35:01|
|dipakalagate1991@...|2019-10-24 09:35:01|
|shibadattanayak@g...|2019-10-24 09:35:01|
|durganath123@outl...|2019-10-24 09:40:02|
|vaibhavkhadke@gma...|2019-10-24 09:45:02|
|gaikwadr576@gmail...|2019-10-24 09:50:01|
|kalyani24deobhank...|2019-10-24 09:50:01|
|dilipsoni199566@g...|2019-10-24 09:50:01|
|surajwarbhuvan192...|2019-10-24 09:55:01|
|tekina.makin@gmai...|2019-10-24 09:50:01|
|priyankagandhi250...|2019-10-24 09:45:01|
|mishrasushil889@g...|2019-10-24 09:55:02|
| blsonalib@gmail.com|2019-10-24 09:40:01|
|manoj.ks.24.mk@gm...|2019-10-24 09:40:01|
|hakepratiksha55@g...|2019-10-24 09:55:01|
|vaibhavpratihar17...|2019-10-24 10:00:01|
|rawatabhishek2012...|2019-10-24 10:00:01|
|indrajeetgajbhiye...|2019-10-24 09:55:01|
+--------------------+-------------------+
only showing top 20 rows

In [40]:
df1 = j.withColumn('hours', hour(j['start_time']))

In [41]:
x = df1.select('user_name','hours')
x.show()

+--------------------+-----+
|           user_name|hours|
+--------------------+-----+
|  rr582619@gmail.con|    9|
| addyp1911@gmail.com|    9|
|rohitsarate1027@g...|    9|
|dipakalagate1991@...|    9|
|shibadattanayak@g...|    9|
|durganath123@outl...|    9|
|vaibhavkhadke@gma...|    9|
|gaikwadr576@gmail...|    9|
|kalyani24deobhank...|    9|
|dilipsoni199566@g...|    9|
|surajwarbhuvan192...|    9|
|tekina.makin@gmai...|    9|
|priyankagandhi250...|    9|
|mishrasushil889@g...|    9|
| blsonalib@gmail.com|    9|
|manoj.ks.24.mk@gm...|    9|
|hakepratiksha55@g...|    9|
|vaibhavpratihar17...|   10|
|rawatabhishek2012...|   10|
|indrajeetgajbhiye...|    9|
+--------------------+-----+
only showing top 20 rows

In [42]:
x = x.withColumn('h_s', x['hours'] * 3600)
x.show()

+--------------------+-----+-----+
|           user_name|hours|  h_s|
+--------------------+-----+-----+
|  rr582619@gmail.con|    9|32400|
| addyp1911@gmail.com|    9|32400|
|rohitsarate1027@g...|    9|32400|
|dipakalagate1991@...|    9|32400|
|shibadattanayak@g...|    9|32400|
|durganath123@outl...|    9|32400|
|vaibhavkhadke@gma...|    9|32400|
|gaikwadr576@gmail...|    9|32400|
|kalyani24deobhank...|    9|32400|
|dilipsoni199566@g...|    9|32400|
|surajwarbhuvan192...|    9|32400|
|tekina.makin@gmai...|    9|32400|
|priyankagandhi250...|    9|32400|
|mishrasushil889@g...|    9|32400|
| blsonalib@gmail.com|    9|32400|
|manoj.ks.24.mk@gm...|    9|32400|
|hakepratiksha55@g...|    9|32400|
|vaibhavpratihar17...|   10|36000|
|rawatabhishek2012...|   10|36000|
|indrajeetgajbhiye...|    9|32400|
+--------------------+-----+-----+
only showing top 20 rows

In [43]:
df2 = j.withColumn('min', minute(j['start_time']))

In [47]:
Z = df2.select('user_name','min')

In [48]:
Z = Z.withColumn('m_s', Z['min'] * 60)
Z.show()

+--------------------+---+----+
|           user_name|min| m_s|
+--------------------+---+----+
|  rr582619@gmail.con| 35|2100|
| addyp1911@gmail.com| 35|2100|
|rohitsarate1027@g...| 35|2100|
|dipakalagate1991@...| 35|2100|
|shibadattanayak@g...| 35|2100|
|durganath123@outl...| 40|2400|
|vaibhavkhadke@gma...| 45|2700|
|gaikwadr576@gmail...| 50|3000|
|kalyani24deobhank...| 50|3000|
|dilipsoni199566@g...| 50|3000|
|surajwarbhuvan192...| 55|3300|
|tekina.makin@gmai...| 50|3000|
|priyankagandhi250...| 45|2700|
|mishrasushil889@g...| 55|3300|
| blsonalib@gmail.com| 40|2400|
|manoj.ks.24.mk@gm...| 40|2400|
|hakepratiksha55@g...| 55|3300|
|vaibhavpratihar17...|  0|   0|
|rawatabhishek2012...|  0|   0|
|indrajeetgajbhiye...| 55|3300|
+--------------------+---+----+
only showing top 20 rows

In [28]:
df3 = start_time1.withColumn('sec', second(start_time1['start_time']))

In [49]:
k = df3.select('user_name','sec')
k.show()

+--------------------+---+
|           user_name|sec|
+--------------------+---+
|  rr582619@gmail.con|  1|
| addyp1911@gmail.com|  2|
|rohitsarate1027@g...|  1|
|dipakalagate1991@...|  1|
|shibadattanayak@g...|  1|
|durganath123@outl...|  2|
|vaibhavkhadke@gma...|  2|
|gaikwadr576@gmail...|  1|
|kalyani24deobhank...|  1|
|dilipsoni199566@g...|  1|
|surajwarbhuvan192...|  1|
|tekina.makin@gmai...|  1|
|priyankagandhi250...|  1|
|mishrasushil889@g...|  2|
| blsonalib@gmail.com|  1|
|manoj.ks.24.mk@gm...|  1|
|hakepratiksha55@g...|  1|
|vaibhavpratihar17...|  1|
|rawatabhishek2012...|  1|
|indrajeetgajbhiye...|  1|
+--------------------+---+
only showing top 20 rows

In [50]:
#Joining the dataframes
df4 = x.join(Z, on = ['user_name'], how = 'inner')
df4.show()

+--------------------+-----+-----+---+----+
|           user_name|hours|  h_s|min| m_s|
+--------------------+-----+-----+---+----+
|  rr582619@gmail.con|    9|32400| 35|2100|
| addyp1911@gmail.com|    9|32400| 35|2100|
|rohitsarate1027@g...|    9|32400| 35|2100|
|dipakalagate1991@...|    9|32400| 35|2100|
|shibadattanayak@g...|    9|32400| 35|2100|
|durganath123@outl...|    9|32400| 40|2400|
|vaibhavkhadke@gma...|    9|32400| 45|2700|
|gaikwadr576@gmail...|    9|32400| 50|3000|
|kalyani24deobhank...|    9|32400| 50|3000|
|dilipsoni199566@g...|    9|32400| 50|3000|
|surajwarbhuvan192...|    9|32400| 55|3300|
|tekina.makin@gmai...|    9|32400| 50|3000|
|priyankagandhi250...|    9|32400| 45|2700|
|mishrasushil889@g...|    9|32400| 55|3300|
| blsonalib@gmail.com|    9|32400| 40|2400|
|manoj.ks.24.mk@gm...|    9|32400| 40|2400|
|hakepratiksha55@g...|    9|32400| 55|3300|
|vaibhavpratihar17...|   10|36000|  0|   0|
|rawatabhishek2012...|   10|36000|  0|   0|
|indrajeetgajbhiye...|    9|32400| 55|3300|
+--------------------+-----+-----+---+----+
only showing top 20 rows

In [51]:
df5 = df4.join(k, on = ['user_name'], how = 'inner') 
df5.show()

+--------------------+-----+-----+---+----+---+
|           user_name|hours|  h_s|min| m_s|sec|
+--------------------+-----+-----+---+----+---+
|  rr582619@gmail.con|    9|32400| 35|2100|  1|
| addyp1911@gmail.com|    9|32400| 35|2100|  2|
|rohitsarate1027@g...|    9|32400| 35|2100|  1|
|dipakalagate1991@...|    9|32400| 35|2100|  1|
|shibadattanayak@g...|    9|32400| 35|2100|  1|
|durganath123@outl...|    9|32400| 40|2400|  2|
|vaibhavkhadke@gma...|    9|32400| 45|2700|  2|
|gaikwadr576@gmail...|    9|32400| 50|3000|  1|
|kalyani24deobhank...|    9|32400| 50|3000|  1|
|dilipsoni199566@g...|    9|32400| 50|3000|  1|
|surajwarbhuvan192...|    9|32400| 55|3300|  1|
|tekina.makin@gmai...|    9|32400| 50|3000|  1|
|priyankagandhi250...|    9|32400| 45|2700|  1|
|mishrasushil889@g...|    9|32400| 55|3300|  2|
| blsonalib@gmail.com|    9|32400| 40|2400|  1|
|manoj.ks.24.mk@gm...|    9|32400| 40|2400|  1|
|hakepratiksha55@g...|    9|32400| 55|3300|  1|
|vaibhavpratihar17...|   10|36000|  0|   0|  1|
|rawatabhishek2012...|   10|36000|  0|   0|  1|
|indrajeetgajbhiye...|    9|32400| 55|3300|  1|
+--------------------+-----+-----+---+----+---+
only showing top 20 rows

In [52]:
df6 = df5.drop('user_name','hours', 'min')
df6.show()

+-----+----+---+
|  h_s| m_s|sec|
+-----+----+---+
|32400|2100|  1|
|32400|2100|  2|
|32400|2100|  1|
|32400|2100|  1|
|32400|2100|  1|
|32400|2400|  2|
|32400|2700|  2|
|32400|3000|  1|
|32400|3000|  1|
|32400|3000|  1|
|32400|3300|  1|
|32400|3000|  1|
|32400|2700|  1|
|32400|3300|  2|
|32400|2400|  1|
|32400|2400|  1|
|32400|3300|  1|
|36000|   0|  1|
|36000|   0|  1|
|32400|3300|  1|
+-----+----+---+
only showing top 20 rows

In [53]:
df7 = df6.withColumn('late_hours', (df6['h_s'] + df6['m_s'] + df6['sec'])/3600)
df7.show()

+-----+----+---+------------------+
|  h_s| m_s|sec|        late_hours|
+-----+----+---+------------------+
|32400|2100|  1|  9.58361111111111|
|32400|2100|  2|  9.58388888888889|
|32400|2100|  1|  9.58361111111111|
|32400|2100|  1|  9.58361111111111|
|32400|2100|  1|  9.58361111111111|
|32400|2400|  2| 9.667222222222222|
|32400|2700|  2| 9.750555555555556|
|32400|3000|  1|  9.83361111111111|
|32400|3000|  1|  9.83361111111111|
|32400|3000|  1|  9.83361111111111|
|32400|3300|  1| 9.916944444444445|
|32400|3000|  1|  9.83361111111111|
|32400|2700|  1| 9.750277777777777|
|32400|3300|  2| 9.917222222222222|
|32400|2400|  1| 9.666944444444445|
|32400|2400|  1| 9.666944444444445|
|32400|3300|  1| 9.916944444444445|
|36000|   0|  1|10.000277777777777|
|36000|   0|  1|10.000277777777777|
|32400|3300|  1| 9.916944444444445|
+-----+----+---+------------------+
only showing top 20 rows

In [55]:
#calculating average hours
average = df7.select(avg('late_hours'))
latehours = average.show()
latehours

+------------------+
|   avg(late_hours)|
+------------------+
|10.233694444444442|
+------------------+